@charset "UTF-8";

/*
@author: Angelo Scala
I made this.
*/


body {
    background-color: black;
}
h1 {
    color: white;
    font-size: 1.5em;
}

svg {
    background-color: black;
    border: 1px solid white;
}

/* powerUp Animation */
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.flashing {
    animation-name: flash;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

/* Fenris nuke Animation */
@keyframes pulse {
    0% { scale: 1; }
    50% { scale: 3; }
    65% { scale: 1; }
    70% { scale: 3; }
    85% { scale: 1; }
    100% { scale: 1; }
}

.pulsing {
    animation-name: flash;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}