@charset "UTF-8";

/*
@author: Angelo Scala
I made this.
*/


body {
    background-color: black;
}
h1 {
    color: white;
    font-size: 1.5em;
}

svg {
    background-color: black;
    border: 1px solid white;
}

#btn:active rect {
    fill: white;
}

/* powerUp Animation */
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.flashing {
    animation-name: flash;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

/* regenHP Animation */
@keyframes blink {
    0% { scale: 0.5; opacity: 0.5; }
    40% { scale: 0.5; opacity: 0.5; }
    50% { scale: 2; opacity: 1; }
    60% { scale: 0.5; opacity: 0.5; }
    100% { scale: 0.5; opacity: 0.5; }
}

.blinking {
    /* Forces svg element to use it's own bounding box rather than global canvas */
    transform-box: fill-box;
    /* Anchors to item's own center */
    transform-origin: center;
    
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* weaponDrop Animation */
@keyframes shine {
    0% { 
        scale: 0.5; 
        rotate: 0deg; 
    }
    50% { 
        scale: 0.8;
    }
    100% { 
        scale: 0.5;
        rotate: 360deg;
    }
}

.shining {
    /* Forces svg element to use it's own bounding box rather than global canvas */
    transform-box: fill-box;
    /* Anchors to item's own center */
    transform-origin: center;

    /* transform: rotate(45deg); */
    filter: drop-shadow(6px -6px 5px orange)
            drop-shadow(-6px 6px 5px orange);
    
    animation-name: shine;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Fenris nuke Animation */
@keyframes pulse {
    0% { scale: 1; }
    50% { scale: 3; }
    65% { scale: 1; }
    70% { scale: 3; }
    85% { scale: 1; }
    100% { scale: 1; }
}

.pulsing {
    transform-origin: 0 0;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}